@import 'nib'
global-reset()

@font-face
   font-family Harabara
   font-style normal
   src url(fonts/Harabara.otf)
a,
a:visited,
a:active,
a:link
  z-index: 999
  text-decoration: none
  color: inherit

html, body
  height: 100%
  width: 100%
  &::before
    content: ''
    position: absolute
    width: 100%
    height: 100%
  transition: background-color .4s ease-out

#black
  position: absolute
  height: 100%
  width: 100%
  background-color: rgba(0, 0, 0, 0.2)
  transition: opacity .4s ease-out
  will-change: opacity
  opacity: 0

#popout
  position: absolute
  width: 40%
  left: 50%
  padding-bottom: 8rem
  top: 50%
  background-color: white
  font-family: Harabara
  transform: translate(-50%, -50%)
  text-align: center
  font-size: 2rem
  transition: opacity .4s ease-out
  will-change: opacity
  opacity: 0

  svg
    height: 20rem
    width: 20rem

main
  position: absolute
  margin: 0
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  transition: height .4s ease-out, width .4s ease-out, background-color .4s ease-out

#elem
  transition: all .4s ease-out
  will-change: transform

#title
  font-family: Harabara
  position: absolute
  top: 7.89%
  left: 9%
  font-size: 4.8vh
  transition: color .4s ease-out

#desc
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  position: absolute
  font-weight: 300
  letter-spacing: .05rem
  color: rgba(255, 255, 255, 0.5)
  top: 13.63%
  left: 9%
  font-size: 1.2vh
  max-width: 74.5%
  line-height: 1.5vh
  transition: color .4s ease-out

#credit
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  position: absolute
  font-weight: 300
  letter-spacing: .05rem
  color: rgba(255, 255, 255, 0.5)
  bottom: 5%
  left: 50%
  transform: translateX(-50%)
  font-size: 1.2vh
  line-height: 1.5vh
  white-space: nowrap
  transition: color .4s ease-out

body[data-philosophy=absolutism]
  background-color: white
  &::before
    background-color: rgba(0, 0, 0, 0.02)
  main
    background-color: white
  #title
    color: black
  #desc
    color: #999
  #credit
    color: #999
  #elem
    position: absolute
    background-color: black
    width: 30%
    padding-bottom: 30%
    border-radius: 50%
    margin: 0
    top: 54%
    left: 50%
    transform: translate(-50%, -50%)

  a:hover
    color: black

body[data-philosophy=altruism]
  background-color: #65B7FF
  &::before
    background-color: rgba(255, 255, 255, 0.2)
  main
    background-color: #65B7FF
    outline: 1px solid transparent
  #title
    color: white
  #elem
    position: absolute
    background-color: white
    width: 38%
    padding-bottom: 38%
    border-radius: 50%
    margin: 0
    top: 55%
    left: 50%
    transform: translate(-50%, -50%)
  #elem::before
    content: ''
    position: absolute
    width: 148%
    height: 148%
    left: -24%
    top: -24%
    background: linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 19%,  transparent 19%, transparent 81%, rgba(255, 255, 255, 0.4) 81%)
  #elem::after
    content: ''
    position: absolute
    width: 148%
    height: 148%
    left: -24%
    top: -24%
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.4) 19%,  transparent 19%, transparent 81%, rgba(255, 255, 255, 0.4) 81%)

  a:hover
    color: white

body[data-philosophy=absurdism]
  background-color: #2F356F
  &::before
    background-color: rgba(255, 255, 255, 0.2)
  main
    background-color: #2F356F
  #title
    color: white
  #elem
    position: absolute
    background: linear-gradient(90deg, transparent 44.262%, #57D492 44.262%)
    width: 64.21%
    padding-bottom: 64.21%
    border-radius: 50%
    margin: 0
    top: 48%
    left: 50%
    transform: translate(-50%, -50%)
    box-shadow: 1.6rem 35.8rem 0 -17.3rem #57D492
  #elem::before
    content: ''
    position: absolute
    border-radius: 50%
    background: linear-gradient(90deg, #1C1F4C 41%, #1D6A69 41%)
    width: 64.263%
    height: 64.263%
    left: 17.8685%
    top: 17.8685%
  #elem::after
    content: ''
    position: absolute
    width: 18.03%
    height: 13.606%
    left: 44.2%
    top: 98%
    background-color: #57D492

  a:hover
    color: white

body[data-philosophy=relativism]
  background-color: #BDBEC0
  &::before
    background-color: rgba(255, 255, 255, 0.2)
  main
    background-color: #BDBEC0
  #title
    color: white
  #desc
    color: rgba(255, 255, 255, 0.7)
  #credit
    color: rgba(255, 255, 255, 0.7)
  #elem
    position: absolute
    background-color: transparent
    width: 30.105%
    padding-bottom: 30.105%
    border-radius: 50%
    margin: 0
    top: 23%
    left: 50%
    transform: translate(-50%, -50%)
    box-shadow: 0 31rem 0 0 rgba(0, 0, 0, 0.25),
                5rem 31rem 0 0 rgba(0, 0, 0, 0.25),
                10rem 31rem 0 0 rgba(0, 0, 0, 0.25),
                15rem 31rem 0 0 rgba(0, 0, 0, 0.25),
                -5rem 31rem 0 0 rgba(0, 0, 0, 0.25),
                -10rem 31rem 0 0 rgba(0, 0, 0, 0.25),
                -15rem 31rem 0 0 rgba(0, 0, 0, 0.25)

  a:hover
    color: white

body[data-philosophy=historicism]
  background-color: #D56A24
  &::before
    background-color: rgba(255, 255, 255, 0.2)
  main
    background-color: #D56A24
  #title
    color: white
  #desc
    color: #222
    max-width: 80%
  #credit
    color: #222
  #elem
    position: absolute
    background-color: transparent
    width: 8.5%
    padding-bottom: 24.1%
    top: 24.8%
    left: 14%
    transform: translate(-50%, -50%)
    box-shadow: 20.5rem 31rem 0 0 #883809,
                41rem 31rem 0 0 #883809,
                0 31rem 0 0 #883809
  #elem::after
    content: ''
    position: absolute
    width: 915%
    height: 37%
    top: 212%
    left: 0
    background-color: rgba(0, 0, 0, .75)
  a:hover
    color: black

body[data-philosophy=anarchism]
  background-color: #3E3C41
  &::before
    background-color: rgba(255, 255, 255, 0.2)
  main
    background-color: #3E3C41
  #title
    color: white
  #desc
    color: #F05867
    max-width: 80%
  #credit
    color: #F05867
  #elem
    position: absolute
    background-color: transparent
    width: 56%
    border-right: 9.5rem solid transparent
    border-left: 9.5rem solid transparent
    border-bottom: 15.6rem solid #F05867
    top: 63.4%
    left: 50%
    transform: translateX(-50%)

  a:hover
    color: white

body[data-philosophy=eclecticism]
  background-color: #EDEBDF
  &::before
    background-color: rgba(255, 255, 255, 0.2)
  main
    background-color: #EDEBDF
  #title
    color: #231F20
  #desc
    max-width: 74%
    color: #666
  #credit
    color: #666
  #elem
    position: absolute
    background-image: linear-gradient(135deg, transparent 50%, #78B83E 50%),
                      linear-gradient(180deg, transparent 50%, #E1ED32 50%),
                      linear-gradient(225deg, transparent 50%, #FCA241 50%),
                      linear-gradient(270deg, transparent 50%, #F0624C 50%)
    border-radius: 50%
    width: 72.95%
    padding-bottom: 72.95%
    top: 29.8%
    left: 50%
    transform: translateX(-50%)

    &::after
      content: ''
      position: absolute
      background-image: linear-gradient(315deg, transparent 50%, #1C82CE 50%),
                        linear-gradient(0deg, transparent 50%, #006038 50%),
                        linear-gradient(45deg, transparent 50%, #018345 50%),
                        linear-gradient(90deg, transparent 50%, #27B54A 50%)
      border-radius: 50%
      width: 100%
      height: 100%
      top: 0
      left: 0
      clip-path: inset(0 50% 0 0)
      // TODO delete it after update nib
      -webkit-clip-path: inset(0 0 0 50%)


  a:hover
    color: black
