include template/_mixins.jade
extends template/_default.jade

block append css
  +ex_css('http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext')
block append hjs
  +jsF('main.js')

block contents
  main
    #title Absolutism.
    #desc The position that within a particular school of thought, all different perspectives are either absolutely true or absolutely false.
    #elem
    #credit
      |Illustrated by 
      a(href="http://studiocarreras.com/philographics/") Studio Carreras
      |, Made by 
      a(href="http://thomas-yang.me") Thomas Yang
  #black
  #popout
    include svg/left_right_arrow.svg
    p use left (&#65513;) and right (&#65515;) to navigate.
    
